{% extends 'packaging/base.html' %}

{% block title %}Create Account{% endblock %}

{% block content %}
<div class="section">
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">Add New Account</p>
        </div><!-- end card-header-->
        <div class="card-content">
            <div class="content overflow-table">
                <form method="POST" id="">
                  {% csrf_token %}
                    <div class="field">
                        <label for="{{ form.subject.id_for_label }}" class="label">User:</label>
                        <div class="control is-expanded">
                            <div class="select is-info">
                                {{ form.user }}
                            </div><!-- end select -->
                        </div><!-- end control -->
                    </div><!-- end field -->
                    <div class="field is-info is-expanded">
                        <label for="{{ form.subject.id_for_label }}" class="label">Account Name:</label>
                        <div class="control">
                            {{ form.name }}
                        </div><!-- end control -->
                    </div><!-- end field -->
                    <div class="field">
                        <label for="{{ form.subject.id_for_label }}" class="label">Contact Name:</label>
                        <div class="control is-expanded">
                            {{ form.contact }}
                        </div><!-- end control -->
                    </div><!-- end field -->
                    <div class="field">
                        <label for="{{ form.subject.id_for_label }}" class="label">Account Status:</label>
                        <div class="control is-expanded">
                            <div class="select is-info">
                                {{ form.status }}
                            </div><!-- end select -->
                        </div><!-- end control -->
                    </div><!-- end field -->
                    <div class="field">
                        <label for="{{ form.subject.id_for_label }}" class="label">Account Notes:</label>
                        <div class="control is-expanded">
                            {{ form.notes }}
                        </div><!-- end control -->
                    </div><!-- end field -->
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" value="Save" class="button is-primary">Save</button>
                        </div><!-- end control -->
                        <div class="control">
                            <a href="/accounts/" class="button is-light">Cancel</a>
                        </div><!-- end control -->
                    </div><!-- end field is-grouped -->
                </form>
            </div><!-- end content -->
        </div><!-- end card-content -->
    </div><!-- end card -->
</div><!-- end section -->
{% endblock %}