{% extends 'packaging/base.html' %}

{% block title %}Batch Details{% endblock %}

{% block content %}
<div class="section">
    <div class="card">
		<div class="card-header">
	  		<p class="card-header-title">
	  		Batch # {{ batch.gyle }} {% if batch.gyle2 %}, {{ batch.gyle2 }} {% endif %} 
	  		</p>
		</div><!-- end card-header -->
		<div class="card-content">
		    <div class="content overflow-table">
		    	<table class="table">
		    		<th>Date Brewed</th>
			  		<th>Beer Brewed</th>
			  		<th>Gyle</th>
			  		<th>Action</th>
			  		<tbody>
			  			<tr>
							<td>{{ batch.brew_date }}</td>
							<td>{{ batch.brewed_beer }}</td>
				 			{% if batch.gyle2 %}
							<td>{{ batch.gyle }}, {{ batch.gyle2 }}</td>
							{% else %}
							<td>{{ batch.gyle }}</td>
							{% endif %}
							<td>
								<a title="Edit Batch" href="{% url 'batch_edit' pk=batch.pk %}"><span class="icon"><i class="fas fa-edit"></i></span></a>
								<a title="Go Back" href="/brewing/"><span class="icon"><i class="fas fa-arrow-left"></i></span></a>
							</td>
			      		</tr>
			  		</tbody>
				</table>  
		    </div><!-- end content -->
		</div><!-- end card-content -->
    </div><!-- end card -->
</div><!-- end section -->
{% endblock %}
