{% extends 'packaging/base.html' %}

{% block title %}Brewing{% endblock %}

{% block content %}
<div class="section">
    <div class="card">
		<div class="card-header">
			<p class="card-header-title">Batches</p>
			<a title="Add New Batch" href="{%url 'batch_new' %}" class="button is-primary">Add New</a>
		</div>
		<div class="card-content">
			<div class="content overflow-table">
				<table class="table is-fullwidth">
					<th>Date Brewed</th>
					<th>Beer Brewed</th>
					<th>Brewer</th>
					<th>Vessel</th>
					<th>Batch Number(s)</th>
					<th>Actions</th>
					<tbody>
		    			{% for batch in batches %}
		    			<tr>
		    				<td>{{ batch.brew_date }}</td>
		    				<td>{{ batch.recipe }}</td>
		    				<td>{{ batch.brewer }}</td>
							<td>{{ batch.vessel }}</td>
	    					<td>{% for batch_number in batch.batch_number.all|join:", " %}{{ batch_number }}{% endfor %}</td>
		    				<td>
		    					<a title="View Batch Details" href="{% url 'batch_detail' pk=batch.pk %}"><span class="icon"><i class="fas fa-eye"></i></span></a>
		    					<a title="Edit Batch Details" href="{% url 'batch_edit' pk=batch.pk %}"><span class="icon"><i class="fas fa-edit"></i></span></a>
		    				</td>
		    			</tr>
		    			{% endfor %}
		    		</tbody>
		    	</table>  
		    </div><!-- end content -->
		</div><!-- end card-content -->
    </div><!-- end card -->
</div><!-- end section -->

{% endblock %}
