{% extends 'brewing/base.html' %}

{% block title %}Batch Details{% endblock %}

{% block content %}
<div class="section">
    <div class="card">
	<div class="card-header">
	  <p class="card-header-title">
	  Batch # {{ batch.gyle }}
	  {% if batch.gyle2 %}
	  , {{ batch.gyle2 }}
	  {% endif %} 
	  </p>
	</div>
	<div class="card-content">
	    <div class="content">
	        <table class="table">
		  <th>Date Brewed</th>
		  <th>Beer Brewed</th>
		  <th>Gyle</th>
		  <th>Action</th>
		  <tbody>
		      <tr>
			<td>{{ batch.brew_date }}</td>
			<td>{{ batch.brewed_beer }}</td>
			 {% if batch.gyle2 %}
			<td>{{ batch.gyle }}, {{ batch.gyle2 }}</td>
			{% else %}
			<td>{{ batch.gyle }}</td>
			{% endif %}
			<td><a href="/brewing/">Back</a></td>
		      </tr>
		  </tbody>
		</table>  
	    </div>
	</div>
    </div>
</div>
{% endblock %}
