{% extends 'packaging/base.html' %}

{% block title %}Packaging{% endblock %}

{% block content %}
<div class="section">
    <div class="card">
		<div class="card-header">
	  		<p class="card-header-title">Packaging Events</p>
	  		<a title="Add New Packaging Event" href="{%url 'packoff_new' %}" class="button is-primary">Add New</a>
		</div><!-- end card-header-->
		<div class="card-content">
		    <div class="content overflow-table">
		        <table class="table is-fullwidth">
		        	<th>Date Packaged</th>
		        	<th>Beer Packaged</th>
		        	<th>Format</th>
		        	<th>Quantity</th>
		        	<th>Actions</th>
			  		<tbody>
			    	{% for packoff in packoffs %}
			      		<tr>
			      			<td>{{ packoff.packaging_date }}</td>
							<td>{{ packoff.packaged_beer }}</td>
							<td>{{ packoff.packaged_beer_format }}</td>
							<td>{{ packoff.packaged_quantity|floatformat }}</td>
							<td>
								<a title="View Packaging Event" href="{% url 'packoff_detail' pk=packoff.pk %}"><span class="icon"><i class="fas fa-eye"></i></span></a>
								<a title="Edit Packaging Event" href="{% url 'packoff_edit' pk=packoff.pk %}"><span class="icon"><i class="fas fa-edit"></i></span></a>
							</td>
			      		</tr>
			      	{% endfor %}
			  		</tbody>
				</table>  
		    </div><!-- end content -->
		</div><!-- end card-content -->
    </div><!-- end card -->
</div><!-- end section -->

{% endblock %}
